body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
}
/* Header Styling*/
header{
    background-image: url(images/rework\ 22.png);
    height: 650px;
}

.nav-bar{
    display: inline-block;
    margin-left: 25px;
}

.nav-bar ul{
    margin: 0;
    list-style-type: none;
    margin: 20px 0px 30px 0px;
    padding: 30px;
} 
.nav-bar ul li{
    display: block;
    float: left;
    margin-right: 3px;
    padding: 12px;
}
.nav-bar ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

.active{
    border-bottom: 2px solid white;
    padding-bottom: 7px;
}

.nav-bar ul li a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 7px;
}

.logo{
    display: inline-block;
    margin-top: 40px;
    margin-left: 60px;
    padding: 10px 30px 0px 30px;
}

#book-room{
    text-decoration: none;
    background: #009DFF;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    display: inline-block;
    float: right;
    margin: 80px 28px 0px 0px;
    padding: 12px 26px;
}

#book-room:hover{
    background-color: white;
    color: #009DFF;
    transition: 0.5s;
}

.description{
    color: white;
    text-align: center;
}

.description h3{
    font-size: 95px;
    margin-bottom: 5px;
    font-weight: 400;
}

.description p{
    font-size: 24px;
    margin-top: 0px;
}

/* End of Header Styling*/

/* Section 1 styling*/
.container, .food{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 200px 0px 100px 0px;
}

.about-us, .delicious-food{
    margin: 0px 50px 0px 60px;
}
.about-us p:first-child, .delicious-food p:first-child{
    padding-left: 50px;
    margin: 0px 0px 0px 30px;
    color: #009DFF;
    font-size: 14px;
    font-weight: 500;
}

.about-us h3, .delicious-food h3{
    padding: 0px 50px 0px 50px;
    margin: 30px 0px 0px 30px;
    font-size: 50px;
    font-weight: 400;
    line-height: 56px;
    width: 550px;
    color: #1F1F1F;
}

.libero{
    margin: 3px 0px 35px 60px;
    font-size: 16px;
    color: #4D4D4D;
    font-weight: 500;
    line-height: 28px;
    padding: 18px;
    width: 470px;
}

.more, .get{
    text-decoration: none;
    margin: 0px 0px 0px 70px;
    padding: 5px;
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 2px solid #919191;
}
.more:hover, .get:hover{
    color: blue;
    transition: 0.5s;
    border-bottom: 2px solid blue;
}
.about-2{
    vertical-align: 50px;
    margin-right: 7px;
}
/*End of Section 1 Styling*/

/* Section 2 Styling */
.our-offer, .featured-room{
    text-align: center;
}
.our-offer p:first-child, .featured-room p:first-child{
    color: #009DFF;
    font-size: 14px;
    font-weight: 500;
    margin: 47px 0px 2px 0px;
    padding: 7px;
}
.our-offer h3, .featured-room h3{
    font-size: 50px;
    font-weight: 400;
    color: #1F1F1F;
    margin-top: 6px;
}

.book-now{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 90px;
    padding: 0px 100px 0px 100px;
    height: 700px;
}

.rooms-suites{
    height: 650px;
    margin: 11px;
}

.rooms-suites p{
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    color: #1F1F1F;
    text-align: left;
    margin: 32px 0px 8px 0px;
}
.rooms-suites ul{
    text-align: left;
    padding-left: 18px;
    margin-bottom: 40px;
}
.rooms-suites ul li{
    font-size: 17px;
    color: #4D4D4D;
    font-weight: 500;
    line-height: 29px;
}
.need-you{
    text-decoration: none;
    font-size: 14px;
    color: #009DFF;
    border: 1px solid #009DFF;
    padding: 15px;
    margin-top: 0px;
    display: inline-block;
    width: 362px;
}
.need-you:hover{
    color: white;
    background-color: #009DFF;
    transition: 0.5s;
}
/* End of Section 2 Styling*/

/* Section 3 Styling*/
.video{
    background-image: url(images/video.png);
    height: 700px;
    margin-bottom: 80px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    opacity: .8;
}

.video p{
    position: absolute;
    top: 190px;
    left: 568px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
}
.video h3{
    color: white;
    display: inline-block;
    position: absolute;
    top: 223px;
    left: 374px;
    font-size: 46px;
    line-height: 56px;
    font-weight: 400;
    width: 570px;
}
/* End of Section 3 Styling*/
.img-food{
    margin-left: 50px;
}
/* Section 5 Styling*/
.various-rooms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 90px 0px 150px 0px
}
.superior{
    background-image: url(images/1122\ reworkkk.png);
    width: 674px;
    height: 421px;
    position: relative;
    opacity: 0.8;
}

.superior span, .deluxe span, .signature span, .couple span{
    position: absolute;
    top: 260px;
    left: 50px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

.superior h4, .deluxe h4, .signature h4, .couple h4{
    position: absolute;
    top: 270px;
    left: 47px;
    color: white;
    font-size: 30px;
    padding: 5px;
    margin-top: 25px;
}
.deluxe{
    background-image: url(images/paint.png);
    width: 674px;
    height: 421px;
    position: relative;
    opacity: 0.8;
}

.signature{
    background-image: url(images/33.png);
    width: 674px;
    height: 421px;
    position: relative;
    opacity: 0.8;
}
.couple{
    background-image: url(images/44.png);
    width: 674px;
    height: 421px;
    position: relative;
    opacity: 0.8;
}
/* End of Section 5 Styling*/

.query{
    text-align: center;
    border: 1px solid #BABABA;
    padding: 10px;
    width: 67%; 
    margin: 0px auto 110px auto;
}
.query p{
    font-size: 30px;
    color: #1F1F1F;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}
#reserve a{
    margin-left: 210px;
    background: #009DFF;
    color: white;
    padding: 12px 53px;
    border-radius: 30px;
    display: inline-block;
    font-size: 19px;
    text-decoration: none;
}
#reserve a:hover{
    color: #009DFF;
    background: white;
    transition: 0.5s;
    border-radius: 30px;
    border: 1px solid #009DFF;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: 0;
}

/* Footer Styling*/
footer{
    background-color: #212529;
    width: 100%;
    height: auto;
    color: white;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 145px 0px 100px 90px;
}

.address h4, .reservation h4, .scan h4, .newsletter h4{
    margin-top: 0;
    font-size: 22px;
    font-weight: 500;
}
.address p, .reservation p{
    font-size: 16px;
    color: #BABABA;
    font-weight: 500;
    width: 75%;
    line-height: 1.9em;
    margin-bottom: 40px;
}

.get{
    margin-left: 0;
}
.reservation p{
    margin: 3px 0px 0px 0px;
}

.scan ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 2.9em;
}
.footer-nav{
    font-size: 16px;
    color: #BABABA;
    font-weight: 500;
    text-decoration: none;
}
.footer-nav:hover{
    color: #007bff;
    transition: 0.5s;
}
input{
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 8px;
}
input[type=submit]{
    cursor: pointer;
    background: #009DFF;
    margin-left: -30px;
    font-weight: 400;
    color: white;
}
.newsletter p{
    font-size: 16px;
    color: #BABABA;
    font-weight: 500;
}